<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to Manure Order Manager</title>
	<!-- Latest compiled and minified CSS -->
 	<link rel="stylesheet" href="/css/bootstrap.min.css">
 	<link rel="stylesheet" href="/css/united-bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/floatthead/1.2.10/jquery.floatThead.min.js"></script>
	<script src="//knockoutjs.com/downloads/knockout-3.3.0.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.2/knockout.validation.min.js"></script>
	<script type='text/javascript'>
		$(document).ready(function(){
			function ManureViewModel(columns){
				var self = this;
				self.header = ko.observable({});
				self.rows = ko.observableArray([]);
				self.columns = columns;
				self.submitted = ko.observable(false);
				self.loadingData = ko.observable(false);
				self.line = {};
				self.filter = {};
				self.line_num;
				self.originalLine = ko.observable({});
				self.cities = ["Anmore", "Burnaby", "Coquitlam", "New Westminster", "Port Coquitlam", "Port Moody", "Other"];
				self.pickupordelivery = ["","Pickup", "Delivery"];
				for(var i = 0; i < self.columns.length; i++){
					if(self.columns[i].type == "email"){
						self.line[self.columns[i].id] = ko.observable().extend({"email":true});
					}
					else if(self.columns[i].type == "digit"){
						self.line[self.columns[i].id] = ko.observable().extend({pattern:{ params: '^[1-9][0-9]*$', message: "not a valid number"}});
					}
					else if(self.columns[i].id == "pickupordelivery" ||self.columns[i].id == "paymentcomment" ){
						self.line[self.columns[i].id] = ko.observable().extend(
							{
								required:{
									onlyIf: function() { return self.line['steer']() != ""  || self.line['mushroom']() != ""  || self.line['topsoil']() != "" }
								}	
							}
						)
					}
					else if(self.columns[i].id == "city" ||self.columns[i].id == "street" || self.columns[i].id == "number" ){
						self.line['pickupordelivery'] = ko.observable();
						self.line[self.columns[i].id] = ko.observable().extend(
							{
								required:{
									onlyIf: function() { return self.line['pickupordelivery']() != ""  }
								}	
							}
						)
					}
					else{
						self.line[self.columns[i].id] = ko.observable();
					}
					self.filter[self.columns[i].id] = ko.observable();
				}
				self.line['topsoil'].subscribe(function(newValue){
					if(self.line['mushroom']() == "" && self.line['steer']() == "" && self.line['topsoil']() == ""){
						self.line['pickupordelivery']("");
						self.line['paymentcomment']("");
					}
				}.bind(self))
				self.line['mushroom'].subscribe(function(newValue){
					if(self.line['mushroom']() == "" && self.line['steer']() == "" && self.line['topsoil']() == ""){
						self.line['pickupordelivery']("");
						self.line['paymentcomment']("");
					}
				}.bind(self))
				self.line['steer'].subscribe(function(newValue){
					if(self.line['mushroom']() == "" && self.line['steer']() == "" && self.line['topsoil']() == ""){
						self.line['pickupordelivery']("");
						self.line['paymentcomment']("");
					}
				}.bind(self))
				self.selectedLine = ko.observable();
				self.filteredRows = ko.computed(function(){
					return ko.utils.arrayFilter(this.rows(), function(item) {
						var toReturn = true;
						for(var prop in this.filter){
							toReturn = toReturn && item[prop].toLowerCase().indexOf(this.filter[prop]() == undefined ?"":this.filter[prop]().toLowerCase()) !== -1;
						}
						return toReturn;
 					}.bind(this));
				}, self);

				self.modifyLine = function(line, line_num){
					self.originalLine(line);
					for(var prop in self.line){
						self.line[prop](line[prop]);
					}
					$('#myModal').modal('show');
					self.selectedLine(line_num);
				}
				self.submitModification = function(){
					self.setSubmitted(true);
					var valid = true;
					for(prop in self.line){
						if(self.line[prop].isValid)
							valid = valid && self.line[prop].isValid();
						else
							continue;
					}
					if(!valid){
							self.setSubmitted(false);
							window.scrollTo(0, 0);
							
					}
					else{
						data = {
							"line_num": self.selectedLine(),
							"line": self.line
						};
						$.ajax({
							url: "/",
							data: data,
							type: "PUT",
							dataType: "json",
						})
						.done(function(data){
						})
						.always(function(data){
							if(data.responseText == "success"){
								self.setSubmitted(false);
								self.getData();							
								$('#myModal').modal('hide');
							}
						})
						.fail(function(){
	
						});
					}
				}
				self.setSubmitted = function(submitted){
					self.submitted(submitted);
				}
				self.openNewForm = function(){
					self.selectedLine(null);
					for(var prop in self.line){
						self.line[prop]("");
					}
					$('#myModal').modal('show');
				}
				self.showConfirmation = function(line_num){
					self.setSubmitted(false);
					self.line_num = line_num
					$('#myConfirmation').modal('show');
				}
				self.removeLine = function(){
					self.setSubmitted(true);
					data = {
						"line_num": self.line_num
					};
					$.ajax({
						url: "/",
						data: data,
						type: "DELETE",
						dataType: "json",
					})
					.done(function(data){
					})
					.always(function(data){
						if(data.responseText == "success"){
							self.line_num = undefined;
							self.getData();							
							self.setSubmitted(false);
							$('#myConfirmation').modal('hide');
						}
					})
					.fail(function(){
					});	
				}
				self.addLine = function(){
					self.setSubmitted(true);
					data = {
						"line": self.line
					};
					var valid = true;
					for(prop in self.line){
						if(self.line[prop].isValid)
							valid = valid && self.line[prop].isValid();
						else
							continue;
					}
					if(!valid){
						self.setSubmitted(false);
						window.scrollTo(0, 0);
					}
					else{
						$.ajax({
							url: "/",
							data: data,
							type: "POST",
							dataType: "json",
						})
						.done(function(data){
						})
						.always(function(data){
							if(data.responseText == "success"){
								self.getData();							
								self.setSubmitted(false);
								$('#myModal').modal('hide');
							}
						})
						.fail(function(){
						});	
					}
				}
				self.getData = function(){
					self.loadingData(true);
					$.get("/sheetData").done(function(data){
						self.loadingData(false);
						self.header(data.header);
						self.rows(data.rows);
				  	$("#content").floatThead()
					}.bind(self))
				}
				self.resetFilter= function(){
					for(var prop in self.filter){
						self.filter[prop]("");
					}
				}
				self.getData();
			}
			ko.applyBindings(new ManureViewModel({{columns|raw }}));
		})
	</script>
	<style>
	  .floatThead-wrapper > div{
	  	margin-top:180px !important;
	  	background-color:white;
	  }
		.filterForm{
			padding: 0px;
		}
		.entry-button-section {
			border-right-style: solid;
		}
		.angledHeader{
			white-space: nowrap;
		}
		.angledHeader div {
			transform: rotate(315deg);
			width: 40px;
			text-transform: capitalize;
		}
		.nowrap{
			white-space: nowrap;
		}
		.form-group{
			margin-bottom: 2px;
		}
		.row.affix{
			z-index: 10;
			top: 0px;
		}
		td {
			max-width: 100px;
		}
		.large-text{
			font-size: x-large;
		}
		thead .affix{
			top: 50px;
			z-index:11;
		}
		.capitalize{
			text-transform: capitalize;
		}
		.validationMessage{
			background-color: red;
			font-weight:bold;
			color:white;
			padding:5px;
		}
		@media print{
			.modal-open #body{
				display: none;
			}
			.modal-open h3 {
				visibility: hidden;
			}
			.modal-open .modal.fade.in {
				overflow-x: visible;
				overflow-y: visible;
				width: 100% !important; 
				height: 100% !important;
				position: absolute;
				top:0px;
				left:0px;
			  border-style: none !important;
			  box-shadow: none !important;
			}
			/*.modal-open .modal-dialog{*/
			/*  position: absolute !important;*/
			/*  width: 100% !important;*/
			/*  border-style: none !important;*/
			/*  box-shadow:none !important;*/
			/*}*/
			.modal-open .modal-header{
				display:none;
			}
			.modal-open .modal-footer{
				display:none;
			}
			#body *{
				font-size:xx-small !important;
			}
			#control {
				display:none;
			}
			.nonPrintable{
				display:none;
			}
			#body th,#body td{
				margin: 0px !important;
				padding: 0px !important;
			}
		}
	</style>
</head>
<body>

<div id="container">
	<h3>Welcome to Manure Order Manager</h3>
	<div class="modal fade" id="myConfirmation" tabindex="-1" role="dialog" aria-labelledby="myConfirmationLabel" aria-hidden="true">
		 <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    	<div class="modal-header">
		    		<h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
		    	</div>
		    	<div class="modal-body">
						<div class='row'>
							<div>Are you sure you want to delete this?</div>
						</div>
		    	</div>
		    	<div class="modal-footer">
		    		<button type="button" class="btn btn-warning" data-bind='attr:{disabled:submitted},click:function(data,event){ $root.removeLine()}'>
			    		<i class='fa fa-spinner fa-spin' data-bind='visible: submitted()' /></i>
		    			<span data-bind='text: submitted() ?"Deleting...":"Delete"'></span>
		    		</button>
		    		<button type="button" class="btn btn-primary" data-dismiss="modal" data-bind='attr:{disabled:submitted}'>No</button>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    	<div class="modal-header">
		    		<h4 class="modal-title" id="myModalLabel">Order Form</h4>
		    	</div>
		    	<div class="modal-body">
		    		
					<div class='row'>
						<div class="col-lg-12" >
							<form class='form-horizontal form-group-sm' data-bind='foreach: columns'>
								<div class="form-group" >
									<!-- ko if: $data.type == undefined && ($data.id == 'paymentamount' || $data.id == 'driverorstatus') --> 
									<label data-bind="attr:{for: {$data.id}" class='col-sm-3 control-label'><span class='label label-warning'>Admin Only</span> <small data-bind="text:$data.name +' :'"></small></label>
									<!-- /ko -->
									<!-- ko ifnot: $data.type == undefined && ($data.id == 'paymentamount' || $data.id == 'driverorstatus') --> 
									<label data-bind="attr:{for: {$data.id}" class='col-sm-3 control-label'><small data-bind="text:$data.name + ':'"></small> </label>
									<!-- /ko -->
									<div class='col-sm-9'>		
										<!-- ko if: $data.type != undefined -->
										<input  data-bind='attr:{id: $data.id, type: $data.type},value:$parent.line[$data.id]' class="form-control">
										<!-- /ko -->
										<!-- ko if: $data.type == undefined && $data.id != 'city' && $data.id != 'pickupordelivery' -->
										<input type="text" data-bind='attr:{id: $data.id},value:$parent.line[$data.id]' class="form-control">
										<!-- /ko -->
										<!-- ko if: $data.type == undefined && $data.id == 'city' -->
										<select data-bind="options: $parent.cities, value: $parent.line[$data.id]" class='form-control'></select>
										<!-- /ko -->
										<!-- ko if: $data.type == undefined && $data.id == 'pickupordelivery' -->
										<select data-bind="options: $parent.pickupordelivery, value: $parent.line[$data.id]" class='form-control'></select>
										<!-- /ko -->
									</div>
								</div>
							</form>
							{% set iter = [2,3,4,5,6,7] %}
							<table class='table table-bordered'>
								<tr>
									<th>Type</th>
									{% for idx in iter %}
									<th>
										{% set fmt = idx ~ " year ago " %}
										{{ fmt  | date("Y") }}
									</th>
									{% endfor %}
								</tr>	
								<tr>
									<td>Mushroom</td>
									<!-- ko foreach: {{ iter | json_encode() }}-->
									<td class='text-center' data-bind='text:$root.originalLine()["mushroom_"+$data]'></td>
									<!-- /ko -->
								</tr>
								<tr>
									<td>Steer</td>
									<!-- ko foreach: {{ iter | json_encode() }} -->
									<td class='text-center' data-bind='text:$root.originalLine()["steer_"+$data]'></td>
									<!-- /ko -->
								</tr>
								<tr>
									<td>Top soil</td>
									<!-- ko foreach: {{ iter | json_encode() }} -->
									<td class='text-center' data-bind='text:$root.originalLine()["topsoil_"+$data]'></td>
									<!-- /ko -->
								</tr>
							</table>
						</div>
					</div>
		    	</div>
		    	<div class="modal-footer">
		    		<button type="button" class="btn btn-warning" data-dismiss="modal" data-bind='attr:{disabled:submitted}'>Close</button>
		    		<button type="button" class="btn btn-primary" data-bind='attr:{disabled:submitted},click:function(data,event){if($root.selectedLine() == null){ $root.addLine() } else { $root.submitModification()}}'>
			    		<i class='fa fa-spinner fa-spin' data-bind='visible: submitted()' /></i>
		    			<span data-bind='text: submitted() ?"Saving...":"Save Changes"'></span>
		    		</button>
		    	</div>
		    </div>
		</div>
	</div>

	<div id="body">
			<div id='control' class="row well" data-spy="affix" data-offset-top="50">
				<div class='pull-left' >
				<button  class="btn btn-sm btn-primary" data-bind='click:openNewForm'><span class='glyphicon glyphicon-plus'></span> Add Entry</button></div>
				<div class='col-lg-11 '>
						<div class='col-lg-11' class='filterForm'>
							<div><i class='fa fa-filter'></i>Filter:</div>
							<form class='form-inline'>
								<!-- ko foreach:columns -->
								<div class="form-group">
									<label class="sr-only" data-bind="text:$data.name, attr:{for: $data.id + 'filter'}">Email address</label>
									<input class="form-control input-sm" data-bind='attr:{placeholder:"Filter " + $data.name},value: $parent.filter[$data.id]'>
								</div>
								<!-- /ko -->
								<button type='button' class='btn btn-warning btn-xs pull-right' data-bind='click: resetFilter'>Reset</button>
							</form>
						</div>	
				</div>
			</div>
			<div class="col-lg-12 navbar-fixed-bottom" data-bind='visible:loadingData()'><div class='bg-primary pull-right text-center col-lg-2'><i class='fa fa-cog fa-spin' ></i> Loading Data....</div></div>
			<div>
				<div> 
					<table id='content' class="table table-striped table-hover">
						<caption>Manure Order Table</caption>
						<thead>
							<tr>
								<th class='nowrap nonPrintable'><div><span class="label label-success">Modify</span></div></th>
								<th class='nowrap nonPrintable'><div><span class="label label-danger">Delete</span></div></th>
								<!-- ko foreach: header -->
								<th class='nowrap'><div class='capitalize' data-bind='text: $data.header'><div></th>
								<!-- /ko -->
							</tr>
						</thead>
						<tbody data-bind="foreach: filteredRows">
							<tr>
								<td class='nonPrintable'><button class='btn btn-success nonPrintable' data-bind='click:function(data,event){ $parent.modifyLine(data, $index()) }'><span class='glyphicon glyphicon-wrench'></span></button></td>
								<td class='nonPrintable'><button class='btn btn-danger nonPrintable' data-bind='click:function(data,event){ $parent.showConfirmation($index(),event) }'><span class='glyphicon glyphicon-remove'></span></button></td>
								<td><span data-bind='text: $data.street'></span> </td>
								<td><span data-bind='text: $data.number'></span> </td>
								<td><span data-bind='text: $data.city'></span> </td>
								<td><span data-bind='text: $data.contact'></span> </td>
								<td><span data-bind='text: $data.phone'></span> </td>
								<td><span data-bind='text: $data.callercomments'></span> </td>
								<td><span data-bind='text: $data.ordermethod'></span> </td>
								<td><span data-bind='text: $data.mushroom'></span> </td>
								<td><span data-bind='text: $data.steer'></span> </td>
								<td><span data-bind='text: $data.topsoil'></span> </td>
								<td><span data-bind='text: $data.paymentcomment'></span> </td>
								<td><span data-bind='text: $data.paymentamount'></span> </td>
								<td><span data-bind='text: $data.pickupordelivery'></span> </td>
								<td><span data-bind='text: $data.pickupordeliverycomment'></span> </td>
								<td><span data-bind='text: $data.generalcomments'></span> </td>
								<td><span data-bind='text: $data.driverorstatus'></span> </td>
								<td><span data-bind='text: $data.email'></span> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</div>
</div>

</body>
</html>